<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reciplease.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>091C3EAC27D7AD0700319728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091C3EC527D7AD0800319728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091C3ECF27D7AD0800319728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
